.play-game-page{
  width: 100%;
  margin-top: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.play-game-page-foreign-section{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: center;
}

.play-game-page-own-section{
  border-top: 1px solid black;
  justify-content: center;
}